@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(xd.css);

body{
   background: 1e1d2b;
   font-family: 'Poppins', sans-serif;
}

.container-fluid{
   background: #1e1d2b;
   font-family: 'Poppins', sans-serif;
}
.barratitulo{
   background: #1e1d2b;
   color: #ff702a;
   font-size: 55px;
   padding: 20px;

}

.navbar-nav .nav-link{
   background: #1e1d2b;
   display: grid;
   color: white;
   border: transparent;
   justify-content: space-between;
   font-size: 30px;
   gap: 25px;
   padding: 20px;
}

.pagina1{
   display: grid;
   font-family: 'Poppins', sans-serif;
   background: #1e1d2b;
   width: 100%;
   height: 100%;
   
}


.p1text h1{
   display: grid;
   justify-content:start;
   text-align:left;
   font-size: 75px;
   padding-top: 125px;
   color: #ff702a;
   margin-left: 150px;
}
.p1text h3{
   display: grid;
   margin-left: 150px;
   color: #fff;
   text-align:left;
   justify-content: start;
   
}

.p1text button{
   display: grid;
   margin-left: 150px;
   background-color: #ff702a;
   color: #fff;
   border: #1e1d2b;
   align-content: center;
   width: 155px;
   height: 30px;
}

.p1img{
   display: grid;
   width: 85%;
   height: 95%;
   justify-content: center;
   margin-right: 100px;
   padding-bottom: 50px;
   
}
.pagina2{
   display: grid;
   font-family: 'Poppins', sans-serif;
   background: #1e1d2b;
   width: 100%;
   height: 100%;
   padding-bottom: 100px;
}
.p2img{
   display: grid;
   width: auto;
   margin: auto;
   height: 550px;
   align-items: center;
   padding-top: 0px;
}

.p2text h4{
   display: grid;
   justify-content:start;
   text-align:left;
   font-size: 15px;
   padding-top: 105px;
   color: #ff702a;
   margin-right: 250px;
}
.p2text h2{
   display: grid;
   justify-content:start;
   text-align:left;
   font-size: 40px;
   color: #fff;
   margin-right: 250px;
}
.p2text h3{
   display: grid;
   justify-content:start;
   text-align:left;
   font-size: 20px;
   color: #fff;
   margin-right: 250px;
   

}
.p2text button{
   display: grid;
  
   background-color: #ff702a;
   color: #fff;
   border: #1e1d2b;
   align-content: center;
   width: 155px;
   height: 30px;
}

.pagina3{
   display: grid;
   background: #1e1d2b;
   width: 100%;
   height: 100%;
}
.p3text{
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.p3text h4{
   display: grid;
   color:#ff702a;
   font-size: 25px;
}
.p3text h3{
   color: #fff;
   font-size: 75px;
}
.p3img {
   display: flex;
  justify-content: center;
   padding: 55px;
   gap: 50px;
   width: 100%;
   height: 91%;
}
.p3img .price1{
   display: grid;
   text-align: center;
   justify-content: center;
   background: #fff;
   width: 320px;
}
.p3img .price2{
   display: grid;
   text-align: center;
   justify-content: center;
   background: #fff;
   width: 320px;
}
.p3img .price3{
   display: grid;
   text-align: center;
   justify-content: center;
   background: #fff;
   width: 320px;
}.pagina3{
   display: grid;
   background: #1e1d2b;
   width: 100%;
   height: 100%;
}
.p3text{
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.p3img .f1{
   height: 100%;
   width: 100%;

}
.p3img .f2{
   height: 100%;
   width: 100%;
}
.p3img .f3{
   height: 100%;
   width: 100%;
}
.p3img .price1 h2, h3{
   color: #000;
}
.p3img .price1 h2{
   font-size: 22px;
}
.p3img .price1 h3{
   font-size: 17px;

}

.p3img .price1 h4{
   color: #ff702a;
   font-size: 16px;
}

.p3img .price2 h2, h3{
   color: #000;
}

.p3img .price2 h2, h3{
   color: #000;
}
.p3img .price2 h2{
   font-size: 22px;
}
.p3img .price2 h3{
   font-size: 17px;
}
.p3img .price2 h4{
   color: #ff702a;
   font-size: 16px;
}

.p3img .price3 h2, h3{
   color: #000;

}
.p3img .price3 h2, h3{
   color: #000;
}
.p3img .price3 h2{
   font-size: 22px;
}
.p3img .price3 h3{
   font-size: 17px;
}
.p3img .price3 h4{
   color: #ff702a;
   font-size: 16px;
}

.pagina4{
   display: grid;
   background: #1e1d2b;
   width: 100%;
   height: 100%;
}
.p4text{
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.p4text h4{
   display: grid;
   color:#ff702a;
   font-size: 25px;
}
.p4text h3{
   color: #fff;
   font-size: 65px;
   padding-bottom: 50px;
}
.p4img{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   width: 100%;
   padding-bottom: 25px;
}

.p4img .info1{
   display: grid;
   text-align: center;
   justify-content: center;
   width: 33%;
   height: 90%;
}
.p4img .info2{
   display: grid;
   text-align: center;
   justify-content: center;
   width: 33%;
   height: 90%;
}
.p4img .info3{
   display: grid;
   text-align: center;
   justify-content: center;
   width: 33%;
   height: 90%;
}

.p4img .i1{
   display: grid;
   justify-self: center;
   align-self: center;
   height: 100%;
   width: 50%;

}
.p4img .i2{
   display: grid;
   justify-self: center;
   align-self: center;
   height: 100%;
   width: 50%;
}
.p4img .i3{
   display: grid;
   justify-self: center;
   align-self: center;
   height: 100%;
   width: 50%;
}

.p4img .info1 h2{
   color: #ff702a;
   font-size: 32px;
}
.p4img .info1 h3{
   color: #fff;
   font-size: 30px;
}

.p4img .info2 h2{
   color: #ff702a;
   font-size: 32px;
}
.p4img .info2 h3{
   color: #fff;
   font-size: 30px;
}
.p4img .info3 h2{
   color: #ff702a;
   font-size: 32px;
}
.p4img .info3 h3{
   color: #fff;
   font-size: 30px;
}

